.statistics{
    width: 44%;
}
.devices{
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #FFFFFF;
    padding-block: 1em;
    margin: 2em 1em;
}
.status{
    font-size: 1.4rem;

}
.count{
    font-size: 2.3rem;
}
.piechart{
    border-radius: 10px;
    margin: 2em 1em;
    background: #FFFFFF;
    padding-block: 2em;
}


.chart{
    flex-grow: 2;
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5em;
    margin-inline: 1.5em;
}
.chartName{
    color: rgb(171, 171, 171);
    font-weight: 500;
    margin-bottom: 1em;
}
.optionSelected{
    font-weight: 700;
    font-size: 1rem;
}
.dropdownContainer{
    display: flex;
    align-items: center;
    position: relative;
}
.dropdown{
    display: flex;
    flex-direction: column;
    transition: 5s;
}
.dropdownBtn{
    cursor: pointer;
    margin-left: 40px;
    border-radius: 50%;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    transition: 200ms;
}
.dropdownBtn:hover{
    background-color: rgb(255, 230, 67);
}
.dropdownBtnClicked{
    background-color: rgb(255, 230, 67);
}
.dropdownIcon{
    width: 25px;
}
.dropdownContent{
    display: none;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.hidden{
    display: none;
}
.visible{
    display: block;
    position: absolute;
    left: -5px;
    top: 38px;
    z-index: 1;
}
.option{
    background-color: #eeeeee;
    padding: 12px 10px;
    cursor: pointer;
    transition: 300ms;
}
.option:hover{
    background-color: rgb(255, 241, 159);
    color: rgb(114, 84, 236);
}