.statistics{
    width: 44%;
}
.devices{
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #FFFFFF;
    padding-block: 1em;
    margin: 2em 1em;
}
.status{
    font-size: 1.4rem;

}
.count{
    font-size: 2.3rem;
}
.piechart{
    border-radius: 10px;
    margin: 2em 1em;
    background: #FFFFFF;
    padding-block: 2em;
}